html {
    font-family: 'Poppins', sans-serif;
    height: 100vh;

}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

p {
    color: #A1ABC9;
}

a {
    color: #7297FF;
}

.wrapper {
    display: flex;
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.auth-area {
    flex: 0 1 560px;
    background-color: #F9FAFF;
    display: block;
    margin-left: auto;
}

.auth-area__wrapper {
    margin: 0 auto;
    width: 368px;
    margin-top: 168px;
}

.header {
    font-size: 24px;
    color: #202225;
    text-transform: capitalize;
    line-height: 110%;
    margin-bottom: 40px;
}

.auth-area__form {
    display: flex;
    flex-direction: column;
}

.auth-area__form input {
    height: 56px;
    color: #A1ABC9;
    border: 1px solid #DCE0EC;
    border-radius: 8px;
    font-size: 17px;
    margin-bottom: 37px;
    background-color: white;
}

.auth-area__form input:focus {
    box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.16);
    border: 1px solid #7297FF;
}

.auth-area__form #image-button {
    border: none;
    font-size: 17px;
    margin-top: 27px;
    width: 140px;
    height: 56px;
    color: white;
    font-weight: 600;
    align-items: center;
    text-transform: capitalize;
    background: #7297FF url('../assets/angle-right.svg') no-repeat center right 22px;
    padding-left: 0px;
    padding-right: 22px;
}

::placeholder {
    color: #A1ABC9;
    text-transform: capitalize;
}

@media (max-height: 900px) {
    .wrapper {
        height: auto;
    }
}

@media (max-width: 430px) {
    .auth-area__form {
        width: 256px;
    }

    .auth-area__wrapper {
        width: 256px;
    }
}

@media (max-width: 590px) {
    .auth-area__wrapper {
        height: 100vh;
        margin-top: 32px;
        padding-top: 11px;
    }

    .wrapper {
        height: auto;
    }

    .auth-area #image-button {
        height: 48px;
        margin-top: 7px;
        width: 125px;
    }

    .auth-area__form input {
        height: 40px;
        margin-bottom: 20px;
        background-color: white;
        padding-left: 47px;
        letter-spacing: 0px;
        font-size: 15px;
    }

    .header {
        font-size: 20px;
        margin-bottom: 29px;
        margin-top: 32px;
    }

    .wrapper {
        flex-direction: column;
    }

    .auth-area {
        position: relative;
        left: 0;
        right: 0;
        height: 100%;
        top: 74px;
        border-radius: 25px;
        margin-left: 0;
    }
}