input#email {
    background: url(../assets/email.svg) no-repeat scroll 22px 19px;
    background-color: white;
}

.restore-note {
    font-size: 15px;
    margin: 0;
    margin-bottom: 40px;
}

.auth-area__form #image-button {
    width: 214px;
    font-weight: 600;
}

@media (max-width: 590px) {
    input#email {
        background: url(../assets/email.svg) no-repeat scroll 15px 10px;
        background-color: white;
    }

    .header {
        padding-top: 0;
    }

    .restore-note {
        line-height: 20px;
        width: 251px;
    }
    
    .auth-area__form #image-button {
        margin-top: 10px;
        width: 201px;
    }
}
