.header-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}


.auth-area__wrapper {
    margin-top: 267px;
}

.restored-note {
    width: 364px;
    letter-spacing: 0px;
    margin-top: -7px;
    line-height: 20px;
    font-size: 15px;
}

.header-wrapper h2 {
    margin-left: 16px;
}

@media (max-height: 790px) {
    .wrapper {
        height: 100%;
    }
}

@media (max-width: 590px) {
    .auth-area__wrapper {
        height: 100vh;
        margin-top: 32px;
    }
}

@media (max-width: 430px) {
    .restored-note {
        width: 256px;
        margin-top: 7px;
        line-height: 18px;
    }
}