input#email {
    background: url(../assets/email.svg) no-repeat scroll 22px 19px;
    background-color: white;
}

input {
    padding-left: 62px;
    letter-spacing: 0.8px;
} 

.header-wrapper {
    display: flex;
    align-items: center;
}

.auth-area__wrapper {
    margin-top: 236px;
}

h2 {
    padding-top: 12px;
    padding-left: 18px;
}

.restore-note {
    font-size: 15px;
    margin-top: -10px;
}

.auth-area__form {
    margin-top: 31px;
}

.auth-area__form input[type=submit] {
    margin-top: 27px;
    width: 214px;
    font-weight: 600;
}

@media (max-width: 590px) {
    input#email {
        background: url(../assets/email.svg) no-repeat scroll 15px 10px;
        background-color: white;
    }

    .auth-area__wrapper {
        margin-top: 10px;
    }

    .auth-area__form {
        margin-top: 20px;
    }

    h2 {
        margin-top: 22px;
        padding-top: 0;
    }

    .restore-note {
        margin-top: -3px;
        line-height: 20px;
        width: 251px;
    }
    
    .auth-area__form input[type=submit] {
        margin-top: 10px;
        width: 201px;
    }
}
