input#email {
  background: url(../assets/email.svg) no-repeat scroll 22px 19px;
  background-color: white;
}

input#password {
  background: url(../assets/lock.svg) no-repeat scroll 22px 19px;
  background-color: white;
}

.auth-area__input {
    position: relative;
    height: 56px;
}

.auth-area__input button {
top: 50%;  
position: absolute;
right: 16px;
    transform: translate(0%, -40%);
  border: none;
  background-color: transparent;
}

#image-button {
  margin-bottom: 32px;
}

.error-message {
  color: #F6657F;
  font-size: 13px;
  margin-top: 8px;
  font-weight: 400;
  display: none;
}

.error .error-message {
  display: inline-block;
}

.error input {
    margin-bottom: 0;
    border-color: #F6657F;
}

.auth-area__input_password {
  margin-bottom: 80px;
}

.to-sign-up {
  font-size: 15px;
  margin-top: auto;
  margin-bottom: 80px;
}

.auth-area__input_password {
  margin-bottom: 64px;
}

.to-sign-up a {
  margin-left: 32px;
}

@media (max-width: 560px) {
  .auth-area__input button {
    transform: translate(0%, -65%);
  }

  input#email {
    background: url(../assets/email.svg) no-repeat scroll 15px 10px;
    background-color: white;
  }

  input#password {
    background: url(../assets/lock.svg) no-repeat scroll 15px 10px;
    background-color: white;
  }

  .auth-area #image-button {
    height: 48px;
    width: 120px;
  }

  .auth-area__input {
    margin-right: 1px;
  }

  .to-sign-up {
    margin-top: 98px;
    display: flex;
    flex-direction: column;
  }

  .auth-area form {
    margin-bottom: 10px;
  }

  .to-sign-up a {
    margin-left: 0;
  }
}

