input#email {
    background: url(../assets/email.svg) no-repeat scroll 22px 19px;
    background-color: white;
}

input#first-name, input#last-name {
    background: url(../assets/user.svg) no-repeat scroll 22px 19px;
    background-color: white;
}

input#password {
    background: url(../assets/lock.svg) no-repeat scroll 22px 19px;
    background-color: white;
    width: 306px;
}

#confirm-password-eye, #password-eye {
    position: absolute;
    margin-top: -81px;
    margin-left: 326px;
    border: none;
    background-color: transparent;
}

input#confirm-password {
    background: url(../assets/check.svg) no-repeat scroll 22px 19px;
    background-color: white;
    width: 306px;
}

input {
    padding-left: 64px;
    letter-spacing: 0.8px;
} 

.to-sign-in {
    margin-top: 80px;
}

@media (max-width: 590px) {
    input#first-name, input#last-name {
        background: url(../assets/user.svg) no-repeat scroll 15px 10px;
        background-color: white;
    }

    #confirm-password-eye, #password-eye {
        margin-top: -54px;
    }

    input#email {
        background: url(../assets/email.svg) no-repeat scroll 15px 10px;
        background-color: white;
    }

    input#password {
        background: url(../assets/lock.svg) no-repeat scroll 15px 10px;
        width: 318px;
        background-color: white;
    }

    input#confirm-password {
        background: url(../assets/check.svg) no-repeat scroll 15px 10px;
        width: 318px;
        background-color: white;
    }

    .to-sign-in {
        margin-top: 52px;
        width: 240px;
    }
}

@media (max-width: 430px) {
    input#password, input#confirm-password {
        width: 206px;
    }

    #confirm-password-eye, #password-eye {
        margin-left: 220px;
    }
} 