.auth-area__wrapper {
    margin-top: 265px;
}

input#email {
    background: url(../assets/email.svg) no-repeat scroll 22px 19px;
    background-color: white;
}

input#password {
    background: url(../assets/lock.svg) no-repeat scroll 22px 19px;
    width: 303px;
    background-color: white;
}
input {
    padding-left: 62px;
    letter-spacing: 0.8px;
}

.to-sign-up {
    font-size: 15px;
    margin-top: 252px;
}

.to-sign-up a {
    margin-left: 32px;
}

@media (max-width: 590px) {
    input {
        padding-left: 50px;
    }

    input#email {
        background: url(../assets/email.svg) no-repeat scroll 15px 10px;
        background-color: white;
    }

    input#password {
        background: url(../assets/lock.svg) no-repeat scroll 15px 10px;
        background-color: white;
        width: 314px;
    }

    .auth-area__wrapper {
        margin-top: 35px;
        height: 100vh;
    }

    .auth-area input[type=submit] {
        height: 48px;
        margin-top: 56px;
        width: 120px;
    }

    .auth-area__password {
        margin-right: 1px;
    }

    .to-sign-up {
        margin-top: 98px;
        display: flex;
        flex-direction: column;
    }

    .auth-area form {
        margin-bottom: 10px;
    }

    .to-sign-up a {
        margin-left: 0;
    }
}

@media (max-width: 430px) {
    form, input#password {
        width: 202px;
    }
} 
